@font-face {
  font-family: 'OTEnjoystoriesBA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
  url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
  url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

/* reset */

* {
  font-family: 'GmarketSansMedium', sans-serif;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #5b2386;
}

/* util */

.bold {
  font-family: 'GmarketSansBold', sans-serif;
  font-size: 2rem;
}

.input-box {
  width: 20rem;
  margin: 0 1.5rem;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
}

.input-box::placeholder {
  color: #BABCBE;
}

.responsive-flex1, .responsive-flex2, .responsive-flex3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-margin1, .responsive-margin2 {
  margin-bottom: 2rem;
}

/* design */

.main-header {
  position: relative;
  margin: 5rem 0;
}

.img-wrap {
  display: flex;
  position: relative;
  height: 26.5rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background: url('../img/clock.png') no-repeat 50% 50%;
  background-size: auto 26.5rem;
}

.header-img {
  width: 100%;
}

.desc-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  text-align: center;
}

.quote-wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../img/quotes.png') no-repeat 50% 30%;
}

.desc-title {
  display: block;
  margin-bottom: 5rem;
  font-family: 'OTEnjoystoriesBA', cursive;
  font-size: 3.6rem;
  color: #f5df4d;
}

.desc-quote {
  width: 100%;
  font-size: 1.7rem;
  line-height: 170%;
  color: white;
}

.input-section {
  margin-bottom: 8rem;
  font-size: 2rem;
  text-align: center;
  color: white;
}

.input-line {
  margin-bottom: 2rem;
}

.start-btn {
  position: relative;
  display: flex;
  width: 30rem;
  justify-content: center;
  align-items: center;
  margin: 7rem auto 0;
  padding: 1rem 4rem;
  border: none;
  border-radius: 3rem;
  background-color: #FCEE21;
  font-size: 2rem;
  word-break: keep-all;
  color: #5B2386;
  cursor: pointer;
}

.start-btn::after {
  content: '';
  position: absolute;
  width: 6.4rem;
  height: 7.2rem;
  top: 0;
  right: -8rem;
  background: url('../img/click.png') no-repeat 0 0;
  background-size: contain;
}

.main-footer {
  
  padding-bottom: 5rem;
  text-align: center;
  color: white;
}

.license {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  font-family: 'GmarketSansMedium', sans-serif;
  font-size: 1rem;
  line-height: 150%;
}

@media screen and (min-width: 768px) {
  .img-wrap {
    width: 56.4rem;
  }

  .responsive-margin1, .responsive-margin2 {
    margin-bottom: 0;
  }

  .start-btn {
    width: auto;
  }
}

@media (min-width: 451px) and (max-width: 767px) {
  html {
    font-size: 56.25%;
  }

  .responsive-img {
    width: 43rem;
  }

  .responsive-margin2 {
    margin-bottom: 0;
  }

  .responsive-flex2 {
    display: block;
  }

  .img-wrap {
    height: 18rem;
    background-size: auto 18rem;
  }

  .quote-wrap {
    background-size: auto 3.2rem;
  }
}

@media (min-width: 381px) and (max-width: 450px) {
  html {
    font-size: 46.875%;
  }

  .responsive-img {
    width: 26.7rem;
  }

  .responsive-flex1, .responsive-flex2, .responsive-flex3 {
    display: block;
  }

  .img-wrap {
    height: 12.5rem;
    background-size: auto 12.5rem;
  }

  .quote-wrap {
    background-size: auto 2.303rem;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 40.625%;
  }

  .responsive-img {
    width: 26.7rem;
  }

  .responsive-flex1, .responsive-flex2, .responsive-flex3 {
    display: block;
  }

  .img-wrap {
    height: 12.5rem;
    background-size: auto 12.5rem;
  }

  .quote-wrap {
    background-size: auto 2.3rem;
  }
}